* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('./bg-pattern.png');
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  margin: 100px auto 0;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 10px;
  background: #34e89e;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0f3443),
    to(#34e89e)
  );
  background: linear-gradient(to right, #0f3443, #34e89e);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form__input {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-form__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #cccccc;
}
.search-form__input::-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
}
.search-form__input:-ms-input-placeholder {
  font-size: 14px;
  color: #cccccc;
}
.search-form__input::-ms-input-placeholder {
  font-size: 14px;
  color: #cccccc;
}
.search-form__input::placeholder {
  font-size: 14px;
  color: #cccccc;
}
@media screen and (min-width: 768px) {
  .search-form__input {
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form__input {
    width: 600px;
  }
}

.search-form__button {
  width: 70px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .search-form__button {
    width: 100px;
  }
}
.search-form__button:hover,
.search-form__button:focus {
  background-color: #0f3443;
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.photo-card {
  background-color: #ffffff;
  width: 300px;
  height: 275px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
}

img {
  -o-object-fit: contain;
  object-fit: contain;
}

.info {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  padding: 7px;
  margin-top: auto;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.btn-more {
  text-align: center;
}

.load-more {
  width: 200px;
  height: 40px;
  font-size: 15px;
  margin: 30px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.load-more:hover,
.load-more:focus {
  background-color: #0f3443;
  color: #ffffff;
}
.load-more.is-hidden {
  display: none;
}

.end-collection-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 30px 0;
}
.end-collection-text.is-hidden {
  display: none;
} /*# sourceMappingURL=index.css.map */
